<!-- templates/partials/mobile_header.html -->
{% load static %}
<header class="d-md-none text-white py-3 px-4  sticky-top z-3" style="background-color: #002152">
  <div class="container-fluid d-flex align-items-center">
    <button class="btn text-white p-0 fs-4 me-3"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#mobileSidebar"
            aria-controls="mobileSidebar"
            aria-label="Abrir menú">
            
      <i class="fas fa-bars" style="color: #c62300;"></i>
    </button>
    <h5 class="mb-0 ms-2 ">The Professor</h5>
  </div>
</header>