#CLAVE SECRETA DJANGO
SECRET_KEY=django-insecure-abc123
# MODO DE DEPURACION (TRUE o FALSE)
DEBUG=True
# HOSTS PERMITIDOS
ALLOWED_HOSTS= localhost, 127.0.0.1
# URL DE LA BASE DE DATOS
DATABASE_URL=mysql://user:password@localhost:3306/mydatabase
# URL DE LA BASE DE DATOS (PostgreSQL)
DATABASE_URL=postgresql://user:password@localhost:5432/mydatabase
# URL DE LA BASE DE DATOS (SQLite)
DATABASE_URL=sqlite:///db.sqlite3

