{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Control de Docentes - The Professor</title>
  <!-- Bootstrap CSS -->

  <link href="{% static 'assets/styles/custom.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/styles/main-style.css' %}" rel="stylesheet" />


  <!-- SweetAlert2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.2/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">

  <style>

  </style>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
</head>

<body class="m-0 p-0">
  <div class="bg-my-background-color d-flex text-white ">
    <!-- SIDEBAR -->
    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->

    <main class="main-content vh-100 p-3 mx-3 flex-grow-1 overflow-auto pt-4">
      <div class="card shadow">
        <div class="card-header">Lista de Docentes</div>
        <div class="card-body ">
          <div class="card-body">
            <div class="mb-3">
              <!-- Formulario de Búsqueda -->
              <form class="d-flex" method="get" action="{% url 'docentes' %}">
                <div class="input-group me-2">
                  <input type="text" name="q" class="form-control" placeholder="Buscar..." value="{{ query|default_if_none:''  }}">
                </div>
                <select name="campo" class="form-select w-25 me-2">
                  <option value="todos" {% if campo == "todos" %}selected{% endif %}>Todos los campos</option>
                  <option value="document_number" {% if campo == "document_number" %}selected{% endif %}>Nro de documento</option>
                  <option value="name" {% if campo == "name" %}selected{% endif %}>Nombre</option>
                  <option value="surname" {% if campo == "surname" %}selected{% endif %}>Apellido</option>
                  <option value="telephone_number" {% if campo == "telephone_number" %}selected{% endif %}>Teléfono</option>
                  <option value="email" {% if campo == "email" %}selected{% endif %}>Email</option>
                  <option value="date_of_birth" {% if campo == "date_of_birth" %}selected{% endif %}>Fecha de Nacimiento</option>
                  <option value="nationality" {% if campo == "nationality" %}selected{% endif %}>Nacionalidad</option>
                </select>

                <button class="btn btn-secondary" type="submit">Buscar</button>
                <a href="{% url 'docentes' %}" class="btn btn-secondary ms-2 me-2">Refrescar</a>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#controlNominaModal">
                  Añadir
                </button>
              </form>
            </div>

            <!-- Tabla de Resultados -->
            <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="align-top">
                  <th>Tipo de Documento</th>
                  <th>Número de Documento</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Teléfono</th>
                  <th>Email</th>
                  <th>Fecha Nac.</th>
                  <th>Sexo</th>
                  <th>Nacionalidad</th>
                  <th>Cargo</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody id="tabla-resultados">
                {% if tutors %}
                {% for tutor in tutors %}
                <tr>
                  <td>{{ tutor.person.get_type_document_display }}</td>
                  <td>{{ tutor.person.document_number }}</td>
                  <td>{{ tutor.person.name }}</td>
                  <td>{{ tutor.person.surname }}</td>
                  <td>{{ tutor.person.telephone_number }}</td>
                  <td>{{ tutor.person.email }}</td>
                  <td>{{ tutor.person.date_of_birth }}</td>
                  <td>{{ tutor.person.get_gender_display }}</td>
                  <td>{{ tutor.person.nationality }}</td>
                  <td>{{ tutor.get_staff_position_display }}</td>
                  <td>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                      data-bs-target="#controlNominaModal" data-tutor-id="{{ tutor.id }}">Editar</button>
                    <form action="{% url 'eliminar_docente' tutor.id %}" method="post" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="11" class="text-center text-muted">No se encontraron registros.</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Ventana Modal -->
      <div class="modal fade" id="controlNominaModal" tabindex="-1" aria-labelledby="controlNominaModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <!-- Encabezado del Modal -->
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title text-center w-100" id="modalTitle">Control de Docentes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Cuerpo del Modal -->
            <div class="modal-body">
              <!-- Formulario -->
              <form id="nominaForm" method="POST" action="{% if tutor_to_edit %}{% url 'editar_docente' tutor_to_edit.id %}{% else %}{% url 'docentes' %}{% endif %}">
                {% csrf_token %}
                {% if tutor_to_edit %}
                    <input type="hidden" name="id" value="{{ tutor_to_edit.id }}">
                    {{ form.as_p }}
                {% else %}
                    {{ form.as_p }}
                {% endif %}
              </form>
            </div>


            <!-- Pie del Modal -->
            <div class="modal-footer">
              <div class="row w-100">
                <div class="col">
                  <button type="submit" form="nominaForm" class="btn btn-primary w-100">Guardar</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bootstrap JS Bundle -->
      <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    </main>
    <!-- organizar el maldito JS -->
  </div>

  <!-- Scripts -->
  <!-- Script para manejar el comportamiento del modal -->

  <script>
    // Capturar el evento de apertura del modal
    const modal = document.getElementById('controlNominaModal');
    const modalTitle = document.getElementById('modalTitle');
    const tutorIdInput = document.getElementById('tutorIdInput');
    const nominaForm = document.getElementById('nominaForm');


    // Escuchar el evento 'show.bs.modal' para detectar cuándo se abre el modal
    modal.addEventListener('show.bs.modal', function (event) {
      const button = event.relatedTarget;
      const tutorId = button.getAttribute('data-tutor-id');

      if (tutorId) {
        modalTitle.textContent = 'Editar Datos';
        nominaForm.action = `/docentes/editar/${tutorId}/`;

        // AJAX para obtener los datos del tutor y llenar el formulario
        fetch(`/docentes/api/${tutorId}/`)
          .then(response => response.json())
          .then(data => {
            for (const [key, value] of Object.entries(data)) {
              const input = nominaForm.querySelector(`[name="${key}"]`);
              if (input) {
                input.value = value !== null ? value : '';
              }
            }
          });
      } else {
        modalTitle.textContent = 'Ingresar Datos';
        nominaForm.action = "{% url 'docentes' %}";
        nominaForm.reset();
      }
    });

    // Escuchar el evento 'hidden.bs.modal' para restablecer el estado al cerrar el modal
    modal.addEventListener('hidden.bs.modal', function () {
      modalTitle.textContent = 'Ingresar Datos';
      tutorIdInput.value = '';
      nominaForm.reset();
      nominaForm.action = "{% url 'docentes' %}";
    });
  </script>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.2/dist/sweetalert2.all.min.js"></script>


  <script>
    window.onpageshow = function (event) {
      if (event.persisted || performance.navigation.type === PerformanceNavigation.TYPE_BACK_FORWARD) {
        // Si viene del historial → redirigir al login
        window.location.href = "{% url 'login' %}";
      }
    };
  </script>
  <script>
    // Verifica si el usuario está autenticado (usando una variable de contexto)
    const isAuthenticated = "{{ request.user.is_authenticated|yesno:'true,false' }}";

    window.onpageshow = function (event) {
      if (event.persisted || performance.navigation.type === PerformanceNavigation.TYPE_BACK_FORWARD) {
        // Si viene del historial y no está autenticado → redirigir
        if (!isAuthenticated) {
          window.location.href = "{% url 'login' %}";
        }
      }
    };
  </script>
  <script>


    // Función para capitalizar y validar caracteres en nombre y apellido
    function capitalizarYValidar(input) {
      input.value = input.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ\s]/g, '');
      input.value = input.value
        .toLowerCase()
        .split(' ')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
    }
    // Función para validar la cédula según el tipo de documento
    function validarCedula(input) {
      const tipoDocumento = document.getElementById('id_type_document').value;
      let longitudMaxima = tipoDocumento === 'V' ? 8 : 10;
      input.value = input.value.replace(/\D/g, '');
      if (input.value.length > longitudMaxima) {
        input.value = input.value.slice(0, longitudMaxima);
      }
    }
    $(document).ready(function () {
      {% if messages %}
      {% for message in messages %}
      Swal.fire({
        icon: '{{ message.tags }}',
        title: '{{ message.message }}',
        showConfirmButton: true
      });
      {% endfor %}
      {% endif %}
    });
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
