{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Control de Nómina - The Professor</title>
  <!-- Bootstrap CSS -->
  <link href="{% static 'assets/styles/custom.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/styles/main-style.css' %}" rel="stylesheet" />

  <!-- SweetAlert2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.2/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
  <!-- Control de sesión por inactividad -->
  {% include 'partials/session_timeout.html' %}
</head>

<body class="m-0 p-0">
  <div class="bg-my-background-color d-flex text-white ">
    <!-- SIDEBAR -->
    {% include 'partials/sidebar.html' %}



    <!-- Contenido principal -->









    <!-- no borrar a partir de aquí -->
  </div>

  <!-- Importar Bootstrap Icons -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.js"></script>

  <!-- Importar Bootstrap JS (opcional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Bootstrap JS Bundle -->
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>




</body>

</html>