{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Control de Nómina - The Professor</title>
  <!-- Bootstrap CSS -->

  <link href="{% static 'assets/styles/custom.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/styles/main-style.css' %}" rel="stylesheet" />


  <!-- SweetAlert2 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.2/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">

  <style>
    
  </style>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
</head>

<body class="m-0 p-0">
  <div class="bg-my-background-color d-flex text-white ">

    {% include 'partials/sidebar.html' %}

    <!-- Contenido principal -->
    <main class="main-content vh-100 d-flex flex-grow-1 p-3 align-items-center justify-content-center">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center ">
          <img src="../../static/assets/images/aguila.png" alt="Imagen transparente"
            class="aguila-trans img-fluid mx-auto z-0 position-absolute pe-none">
          <!-- Columna izquierda - Logo y texto -->
          <div class="col-md-6 text-center z-1">
            <img src="../../static/assets/images/minilogowhite.png" alt="Logo" class="img-fluid pe-none"
              style="max-height: 100px;">
            <h1 class="display-5 fw-bold"><b>Bienvenid@</b></h1>
            <p class="fs-2">Aprende con nosotros</p>

          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- Bootstrap JS Bundle -->
  <script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
</body>

</html>